# Copy to .env and fill in values. Do not commit .env.

# DataBase
DATABASE_URL=

# Redis
REDIS_DATABASE_URL=

# SMTP
SMTP_USER=
SMTP_PASS=
SMTP_PORT=
SMTP_SERVICE=
SMTP_HOST=

# ACCESS_TOKEN_SECRET
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=

# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=

# Image-Kit
IMAGEKIT_SECRET_KEY=
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_URL_ENDPOINT=

# Kafka
KAFKA_API_KEY=
KAFKA_API_SECRET=


# EmailJS Configuration
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=
NEXT_PUBLIC_ADMIN_EMAIL=
