# Copy to `.env` in this folder and fill in values. Do not commit `.env`.

NEXT_PUBLIC_SERVER_URI=
NEXT_PUBLIC_ADMIN_SERVICE_URL=
NEXT_PUBLIC_ORDER_SERVICE_URL=
NEXT_PUBLIC_USER_SERVICE_URL=
NEXT_PUBLIC_USE_UI_LINK=
NEXT_PUBLIC_SOCKET_URI=